<!DOCTYPE html>
<html lang="<%= content.lang %>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content.title %></title>
</head>
<body>
  <h1><%= content.title %></h1>

  <p><%= content.message %> : <%= data.receiverEmail %>.</p>
  
  <% if (data.message) { %><p><%= data.message %></p><% } %>
  
  <p><a href="<%= data.cta %>"><%= content.cta %></a></p>
</body>
</html>
